<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.cordova-ios-LocalNotification"
    version="1.0.2">

  <name>Cordova iOS LocalNotification</name>
  <config-file target="config.xml" parent="/*">
    <access origin="build.phonegap.com" />
    <access origin="s3.amazonaws.com" />
  </config-file>

  <engines>
    <engine name="cordova" version=">=2.3.0" />
  </engines>

  <!-- android -->
  <!-- not supported -->

  <!-- ios -->
  <platform name="ios">
    <!-- CDV < 2.4 -->
    <plugins-plist key="com.phonegap.plugins.cordova-ios-LocalNotification"
                   string="LocalNotification" />
    <!-- CDV 2.4 had a /cordova/plugins instead of /widget/plugins so ignored! -->
    <!-- CDV 2.5+ -->
    <config-file target="config.xml" parent="/widget/">
      <feature name="LocalNotification">
        <param name="ios-package" value="LocalNotification" />
      </feature>
    </config-file>

    <header-file src="src/ios/LocalNotification.h" />
    <source-file src="src/ios/LocalNotification.m" />

    <asset src="www/cordova.LocalNotification.js" target="cordova.LocalNotification.js" />
  </platform>

</plugin>
